//- Requires an info.json file in a folder, generates stuff from there
doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(href="../general.css" rel="stylesheet")
	body
		nav
			ul
				li: a(href="../") Home
				li: a(href="https://github.com/mwsundberg/p5-shenanigans") Github Repo
				li: a(href=("https://github.com/mwsundberg/p5-shenanigans/tree/master/" + gitPath)) This Sketch (#{timestamp})
			
		#sketch
		//- Load P5 from the CDN
		script(src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js")
		//- The processed, rollup'd sketch file
		script(src="sketch.min.js")