//- Requires an info.json file in a folder, generates stuff from there
doctype html
html
	head
		meta(charset="utf-8")
		title= title
		link(href="../general.css" rel="stylesheet")
	body
		nav
			ul
				li= title
				li= "(" + timestamp + ")"
				li: a(href="../") Home
				li: a(href="https://github.com/mwsundberg/p5-shenanigans") Github
				//- A clever trick to add in the dirname (extracted from the gulp processing of the json file)
				li: a(href=("https://github.com/mwsundberg/p5-shenanigans/tree/master/" + gitPath)) #{title} on Github

		#sketch
		//- Load P5 from the CDN
		script(src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js")
		//- The processed, rollup'd sketch file
		script(src="sketch.min.js")